html {
    box-sizing: border-box;
}

body {
    overflow: auto;
    position: static;
}

/* layer1 */
.intro {
    min-width: 0px;
    padding-top: 64px;
    padding-bottom: 64px;
    min-height: auto;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    backface-visibility: hidden;
    transform: translate3d(0px, 0px, 0px);
}

.intro-1 {
    background-color: rgb(0, 0, 0);
}

.intro-2 {
    background-color: rgb(120, 0, 22);
    color: rgb(233, 192, 233);
}

.intro-2 .text-h1 {
    color: rgb(233, 192, 233);
}

.intro-3 {
    background-color: rgb(37, 79, 26);
    color: rgb(210, 232, 35);
}

.intro-3 .text-h1 {
    color: rgb(210, 232, 35);
}

@media screen and (min-width: 320px) {

    .intro {
        padding-top: 64px;
        padding-bottom: 64px;
    }
}

@media screen and (min-width: 320px) {

    .intro {
        min-height: auto;
    }
}

@media screen and (min-width: 768px) {

    .intro {
        padding-top: 128px;
        padding-bottom: 128px;
    }
}

@media screen and (min-width: 768px) {

    .intro {
        min-height: 100vh;
    }
}





.intro-box {
    min-width: 0px;
    min-height: auto;
    display: flex;
    overflow: hidden;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    backface-visibility: hidden;
    transform: translate3d(0px, 0px, 0px);
}


@media screen and (min-width: 320px) {

    .intro-box {
        min-height: auto;
    }
}

@media screen and (min-width: 768px) {
    .intro-box {
        min-height: auto;
    }
}





/* layer3 */
.intro-wraper {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    min-width: 0px;
    -webkit-box-pack: center;
    justify-content: center;
}



.intro-content {
    min-width: 0px;
    padding-left: 16px;
    padding-right: 16px;
    max-width: none;
    flex: 1 1 0%;
}


@media screen and (min-width: 320px) {
    .intro-content {
        max-width: none;
    }
}

@media screen and (min-width: 768px) {
    .intro-content {
        max-width: none;
    }
}

@media screen and (min-width: 955px) {
    .intro-content {
        max-width: 1536px;
    }
}




@media screen and (min-width: 320px) {
    .intro-content {
        padding-left: 24px;
        padding-right: 24px;
    }

}


@media screen and (min-width: 768px) {
    .intro-content {
        padding-left: 24px;
        padding-right: 24px;
    }
}


@media screen and (min-width: 955px) {
    .intro-content {
        padding-left: 48px;
        padding-right: 48px;
    }
}

.intro-color {
    min-width: 0px;
}




.content-main {
    display: flex;
    box-sizing: border-box;
    min-width: 0px;
    gap: 16px;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.content-main-reverse {
    flex-direction: column-reverse;
}

@media screen and (min-width: 320px) {
    .content-main {
        flex-direction: column;
    }

    .content-main-reverse {
        flex-direction: column;
    }

}



@media screen and (min-width: 768px) {
    .content-main {
        flex-direction: column;
    }

    .content-main-reverse {
        flex-direction: column;
    }
}

@media screen and (min-width: 955px) {
    .content-main {
        flex-direction: row;
    }

    .content-main-reverse {
        flex-direction: row-reverse;
    }
}



.content-wraper {
    min-width: 0px;
    width: 100%;
}

@media screen and (min-width: 320px) {
    .content-wraper {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .content-wraper {
        width: 100%;
    }
}

@media screen and (min-width: 955px) {
    .content-wraper {
        width: 50%;
    }
}



@media screen and (min-width: 955px) {
    .content-text {
        width: 50%;
    }
}


.content-text {
    min-width: 0px;
    width: 100%;
}


@media screen and (min-width: 320px) {
    .content-text {
        width: 100%;
    }
}


@media screen and (min-width: 768px) {
    .content-text {
        width: 100%;
    }
}

@media screen and (min-width: 955px) {
    .content-text {
        width: 50%;
    }
}

@media screen and (min-width: 320px) {
    .content-text {
        width: 100%;
    }
}


@media screen and (min-width: 768px) {
    .content-text {
        width: 100%;
    }
}



.text-wraper {
    display: flex;
    box-sizing: border-box;
    min-width: 0px;
    flex-direction: column;
    flex: 1 1 0%;
}



.content-extra {
    min-width: 0px;
    padding-right: 0px;
    width: 100%;
}

@media screen and (min-width: 320px) {
    .content-extra {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .content-extra {
        width: 100%;
    }
}

@media screen and (min-width: 955px) {
    .content-extra {
        width: 50%;
    }
}

@media screen and (min-width: 320px) {
    .content-extra {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .content-extra {
        width: 100%;
    }
}

@media screen and (min-width: 955px) {
    .content-extra {
        width: 50%;
    }
}

.extra-wraper {
    min-width: 0px;
    padding: 48px 18px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}

.extra-wraper-reverse {
    justify-content: flex-start;
}


@keyframes cf4FadeInOut {
    0% {
        opacity: 1;
    }

    13% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    87% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes colorText {
    0% {
        color: rgb(255, 240, 3);
    }

    25% {
        color: rgba(41, 246, 51, 0.827);
    }

    50% {
        color: #6e6e73;
    }

    75% {
        color: rgba(117, 4, 255, 0.738);
    }

    100% {
        color: rgb(255, 240, 3);
    }
}


.text-colorful {
    animation-delay: 1s;
    animation-name: colorText;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    transition: all 1s ease-in-out;
}

.extra-box {
    position: relative;
    height: 600px;
    width: 280px;
}

.extra-common {
    width: 90%;
    background-color: white;
    border-radius: 25px;
}

.extra-common img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}


.extra-animotion img {
    position: absolute;
    left: 0;
    height: 100%;
    max-height: 600px;
    border-radius: 25px;

    animation-name: cf4FadeInOut;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s cubic-bezier(0.39, 0.575, 0.565, 1);
}


.extra-wraper img:nth-of-type(1) {
    animation-delay: 6s;
}

.extra-wraper img:nth-of-type(2) {
    animation-delay: 4s;
}

.extra-wraper img:nth-of-type(3) {
    animation-delay: 2s;
}

.extra-wraper img:nth-of-type(4) {
    animation-delay: 0;
}


@media screen and (min-width: 320px) {
    .extra-wraper {
        padding-left: 18px;
        padding-right: 18px;
        justify-content: center;
    }

    .extra-wraper-reverse {
        justify-content: center;
    }
}

@media screen and (min-width: 768px) {
    .extra-wraper {
        padding-left: 48px;
        padding-right: 48px;
        justify-content: center;
    }

    .extra-wraper-reverse {
        justify-content: center;
    }
}

@media screen and (min-width: 955px) {
    .extra-wraper {
        padding-left: 48px;
        padding-right: 48px;
        justify-content: flex-end;
    }

    .extra-wraper-reverse {
        justify-content: flex-start;
    }
}


.text-subtitle {
    display: flex;
    box-sizing: border-box;
    min-width: 0px;
    justify-content: left;
    margin-top: 16px;
}

@media screen and (min-width: 320px) {
    .text-subtitle {
        margin-top: 16px;
    }
}

@media screen and (min-width: 768px) {
    .text-subtitle {
        margin-top: 32px;
    }
}


@media screen and (min-width: 955px) {
    .text-subtitle {
        margin-top: 32px;
    }
}


.subtitle-wraper {
    text-align: left;
}




.text-h1 {
    font-size: 48px;
    font-weight: 820;
    letter-spacing: -0.02em;
    line-height: 1.05;
    text-align: left;
}


@media screen and (min-width: 320px) {
    .text-h1 {
        font-size: 48px;
    }
}

@media screen and (min-width: 768px) {
    .text-h1 {
        font-size: 64px;
    }
}


@media screen and (min-width: 955px) {
    .text-h1 {
        font-size: 88px;
    }
}






.subtitle-box {
    max-width: 29em;
    font-size: 16px;
    font-weight: 418;
    letter-spacing: -0.02em;
    line-height: 1.5;
}

.subtitle-box:last-of-type {
    margin-bottom: 0px;
}


@media screen and (min-width: 320px) {

    .subtitle-box {
        font-size: 16px;
    }
}

@media screen and (min-width: 768px) {
    .subtitle-box {
        font-size: 16px;
    }
}

@media screen and (min-width: 955px) {
    .subtitle-box {
        font-size: 20px;
    }
}


.text-button-common button {
    cursor: pointer;
    background: rgb(233, 192, 233);
    color: #151414;
    font-weight: 600;
    font-size: 16px;
    padding: 13px 60px;
    border: none;
    border-radius: 25px;
    transition: all .3s ease-in-out;
}

.text-button-common button:hover {
    transform: translateY(-4px);
    background-color: rgb(235, 164, 235);
    ;
}


.intro-3 .text-button-common button {
    background: rgb(210, 232, 35);
}

.intro-3 .text-button-common button:hover {
    background: rgb(169, 189, 19);
}


.footer {
    background-color: rgb(233, 192, 233);
    padding: 1px;
    font-weight: 600;
    letter-spacing: 0.01em;
    line-height: 1.5;
    text-align: center;
    color: #fff;
}

.header {
    z-index: 100;
    min-height: 0px;
    position: relative;
}

.header-wraper {
    transition: all 0.1s ease-in-out 0s;
    min-width: 0px;
    background-color: transparent;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}

.header-box {
    display: flex;
    box-sizing: border-box;
    min-width: 0px;
    -webkit-box-pack: center;
    justify-content: center;
}


.header-main {
    min-width: 0px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    max-width: none;
    flex: 1 1 0%;
    width: 100%;
}

@media screen and (min-width: 320px) {
    .header-main {
        max-width: none;
    }
}


@media screen and (min-width: 768px) {
    .header-main {
        max-width: none;
    }
}


@media screen and (min-width: 955px) {
    .header-main {
        max-width: 1536px;
    }
}



@media screen and (min-width: 320px) {
    .header-main {
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 16px;
    }
}

@media screen and (min-width: 768px) {
    .header-main {
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 16px;
    }
}


@media screen and (min-width: 955px) {
    .header-main {
        padding-left: 48px;
        padding-right: 48px;
        padding-top: 48px;
    }
}



.header-bar {
    z-index: 2;
    min-width: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    background-color: rgb(255, 255, 255);
    border-radius: 10000px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.08);
    border-style: solid;
    position: relative;
}

@media screen and (min-width: 320px) {
    .header-bar {
        margin-left: auto;
        margin-right: auto;
        padding: 8px;
    }
}

@media screen and (min-width: 768px) {
    .header-bar {
        margin-left: -16px;
        margin-right: -16px;
        padding: 8px;
    }
}


@media screen and (min-width: 955px) {
    .header-bar {
        padding: 12px;
    }
}

.header-desktop {
    display: flex;
    box-sizing: border-box;
    min-width: 0px;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

@media screen and (max-width: calc(767px)) {
    .header-desktop {
        display: none;
    } 
}

.desktop-nav {
    min-width: 0px;
    padding: 8px;
}

@media screen and (min-width: 320px) {
    .desktop-nav {
        padding-left: 8px;
    }
}


@media screen and (min-width: 768px) {
    .desktop-nav {
        padding-left: 8px;
    }
}

@media screen and (min-width: 955px) {
    .desktop-nav {
        padding-left: 32px;
    }
}

.desktop-user {
    min-width: 0px;
}

.desktop-nav-wraper {
    display: flex;
    box-sizing: border-box;
    min-width: 0px;
    -webkit-box-align: center;
    align-items: center;
}


.desktop-nav .nav-item {
    display: flex;
    box-sizing: border-box;
    min-width: 0px;
}


.desktop-nav .item {
    min-width: 0px;
    position: relative;
}

.desktop-nav .item-wraper {
    cursor: pointer;
    min-width: 0px;
    padding: 11px 16px;
    border-radius: 8px;
}

.desktop-nav .item-wraper:hover {
    background-color: rgb(239, 240, 236);
}

.desktop-nav .item-text {
    white-space: nowrap;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.5;
    color: rgb(103, 107, 95);
}

.desktop-user .user-wraper {
    display: flex;
    box-sizing: border-box;
    min-width: 0px;
    gap: 8px;
}

.desktop-user .user-box {
    display: flex;
    box-sizing: border-box;
    min-width: 0px;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.desktop-nav .user-wraper {
    text-decoration: none;
    color: inherit;
    outline: none;
}

.user-wraper .login-box {
    position: relative;
    z-index: 1;
    background-color: rgb(239, 240, 236);
    border-radius: 8px;
    min-width: 0px;
    padding: 18px 26px 20px;
}

.user-wraper .login-box:hover {
    background-color: rgba(0, 0, 0, 0.086);
}

.user-wraper .login-box::before {
    content: "";
    display: block;
    position: absolute;
    inset: 6px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    z-index: -2;
    transition: none 0s ease 0s;
    visibility: hidden;
}

.user-wraper .login-text {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.01em;
    line-height: 1.5;
    color: rgb(30, 35, 48);
}

.signup-box {
    position: relative;
    z-index: 1;
    background-color: rgb(30, 35, 48);
    border-radius: 10000px;
    min-width: 0px;
    padding: 18px 26px 20px;
}
.signup-box:hover {
    background-color: rgb(48, 53, 65);
}

.signup-box::before {
    content: "";
    display: block;
    position: absolute;
    inset: 6px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10000px;
    z-index: -2;
    transition: none 0s ease 0s;
    visibility: hidden;
}

.signup-text {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.01em;
    line-height: 1.5;
    color: rgb(255, 255, 255);
}

.logo-desktop {
    font-size: 16px;
    font-weight: 600;
    color: black;
}

.desktop-nav .logo-desktop {
    min-width: 0px;
    margin-right: 8px;
    width: 140px;
}

.mobile-logo {
    font-size: 16px;
    font-weight: 600;
}

@media screen and (max-width: calc(954px))

{
    .desktop-nav .logo-desktop {
        display: none;
    }

}

@media only screen and (orientation: portrait)
{
    .desktop-nav .logo-desktop {
        min-height: auto;
    }
}

.desktop-nav .logo-mobile  {
    min-width: 0px;
    padding-left: 12px;
}

@media screen and (min-width: 955px) {
    .desktop-nav .logo-mobile {
        display: none;
    }
}

.header-mobile {
    display: flex;
    box-sizing: border-box;
    min-width: 0px;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .header-mobile {
        display: none;
    }
}

.mobile-logo {
    min-width: 0px;
    padding-left: 12px;
}

@media only screen and (orientation: portrait) {
    .mobile-logo {
        min-height: auto;
    }
}

.mobile-user {
    display: flex;
    box-sizing: border-box;
    min-width: 0px;
    flex: 1 1 0%;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.mobile-user-wraper {
    min-width: auto;
}

@media only screen and (orientation: portrait) {
    .mobile-user-wraper {
        min-height: auto;
    }
}

.mobile-user-content {
    display: flex;
    box-sizing: border-box;
    min-width: 0px;
    gap: 8px;
}

.user-box-mobile {
    padding: 13.5px 18px 15.5px!important;
}


.header-bottom {
    min-width: 0px;
    padding-bottom: 100px;
    background-color: black;
    height: 0px;
}

@media screen and (min-width: 320px) {
    .header-bottom {
        padding-bottom: 100px;
    }
}
    