.register-main {
    width: 100%;
}

.register-wraper {
    padding: 30px;
    margin: 0 auto;
    width: 100%;
    max-width: 640px;
    position: relative;
}

.register-box {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.register-title {
    padding-left: 4px;
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 2rem;
}

.title-wraper {
    padding: 30px;
    margin: 0 auto;
    width: 100%;
    max-width: 840px;
    position: relative;
}

.register-main .title {
    font-weight: 600;
    font-size: 30px;
}


.register-main .layer-msg {
    font-size: 16px;
    color: red;
}

.register-main .layer-button {
    margin: 0 auto;
    width: 60%;
}


/*  */

.register-main .fieldset-box {
    border: none;
    margin: 0px;
    padding: 0px;
}


.register-main .subitem {
    cursor: pointer;
    margin: 4px 3px;
    display: inline-flex;
}

.register-main .subitem.active-subitem span {
    border: 1px solid white;
    background-color: #0071e3;
    color: white;
}

.register-main .subitem span {
    padding: 3px 12px;
    border-radius: 48px;
    border: 1px solid rgb(224 226 217);
}

.register-main .customize-tags input {
    width: 100%;
    height: 2.5em;
    padding: 2px 1em;
    outline: none;
    border: 1px solid rgb(224 226 217);
    border-radius: 48px;
}

.register-main .subtitle {
    font-weight: 600;
    margin: 10px 0px;
}

.register-main .login-link {
    padding: 10px 0px;
}

.register-main .login-link .login {
    padding-left: 1em;
    color: var(--primary);
    text-decoration: underline;
    cursor: pointer;
  }