.link-control-item-box {
    width: 100%;
    padding-bottom: 16px;
}

#exam {
    width: 100%;
}

.link-control-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 25px;
}

.link-control-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.link-control-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.link-control-content .control-bar {
    height: 100%;
    width: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: grab;
}

.link-control-content .control-link {
    padding: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.control-link .control-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}


.control-link .control-magic {
    padding-top: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.control-magic .control-delete {
    height: 100%;
    width: auto;
}

.control-magic .control-icons {
    width: 100%;
}

.control-text .title, .control-text .url{
    display: grid;
    margin-bottom: 4px;
    width: 100%;
    grid-template-columns: minmax(0px, 90%);
    justify-content: left;
    -webkit-box-align: baseline;
    align-items: baseline;
}

.control-text .content {
    width: 100%;
}

.control-text .input {
    border: none;
    background-color: transparent;
    background-image: none;
    border-radius: 0px;
    box-shadow: none;
    font-style: inherit;
    font-variant: inherit;
    font-stretch: inherit;
    line-height: inherit;
    font-family: inherit;
    box-sizing: border-box;
    appearance: none;
    border: 0px;
    color: rgb(61, 68, 75);
    width: 100%;
    height: 20px;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-weight: 700;
}

.control-text .input:focus {
    border: none;
    outline: none;
}

.input-text-base {
    padding: 0px;
    margin: 0px;
    color: rgb(0, 0, 0);
    font-size: 14px;
    line-height: 20px;
    letter-spacing: normal;
    text-overflow: ellipsis;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.control-text .input-title {
    font-weight: 600;
}

.control-text .input-url {
    font-weight: 400;
}

.content-show {
    cursor: pointer;
    justify-content: left;
    grid-area: 1 / 1 / auto / auto;
    align-items: center;
}

.content-edit {
    grid-area: 1 / 1 / auto / auto;
}

.content-show svg {
    margin-left: 8px;
}

.link-control-extra {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.extra-contron-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link-control-extra .header {
    width: 100%;
    text-align: center;
    font-weight: 500;
    background-color: rgb(235, 238, 241);
}

.link-control-extra .content {
    padding: 15px;
}

.link-control-extra .ops {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
