
/* 编辑器区域 */
.editor-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.editor-canvas {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editor-canvas canvas {
    transform: scale(0.75);
}

.editor-ops {
    padding: 30px;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editor-ops .editor-button {
    margin: 10px;
    cursor: pointer;
    color: white;
    width: 100%;
    max-width: 100%;
    background-color: #8129d9;
    height: 2rem;
    line-height: 2rem;
    border-radius: 4rem;
    display: flex;
    justify-content: center;
    transition: all .3s;
}

.editor-box .select-item  {
    cursor: pointer;
}

.editor-box .select-item img {
    width: 48px;
    border-radius: 25%;
}

.editor-box .select-box {
    width: 100%;
    display: inline-grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    gap: 1rem;
}

.editor-button.editor-select {
    background-color: black;
}

.editor-button:hover {
    transform: translateY(-2px);
}

.editor-button {
    text-align: center;
}

.editor-upload input {
    position: absolute;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}


/* 弹出层 */

.darkBG {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.centered {
    z-index: 3;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal {
    width: 780px;
    height: auto;
    background: white;
    color: white;
    z-index: 10;
    border-radius: 16px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

@media screen and (min-width: 320px) {
    .modal {
        width: 340px;
    }
}

@media screen and (min-width: 768px) {
    .modal {
        width: 780px;
    }
}

@media screen and (min-width: 955px) {
    .modal {
        width: 830px;
    }
}

.modalHeader {
    height: 50px;
    background: white;
    overflow: hidden;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.heading {
    margin: 0;
    padding: 10px;
    color: #2c3e50;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

.modalContent {
    padding: 10px;
    font-size: 14px;
    color: #2c3e50;
    text-align: center;
}

.closeBtn {
    margin: 3px 3px;
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
}
