.admin {
    width: 100%;
}

.admin-header {
    border-bottom: 1px solid rgb(224 226 217 / 1);
}

/* 这里的 .admin-left 表示后台左侧通用宽度 */
/* admin-right 右侧都是435px */

.admin-right {
    width: 435px;
    border-left: 1px solid rgb(224 226 217 / 1);
}

.nav-header, .admin-left {
    width: calc(100% - 435px);
}

.admin-content {
    width: 100%;
}

@media only screen and (min-width: 992px) {
    .nav-header, .admin-left {
        width: calc(100% - 435px);
    }
}

@media only screen and (min-width: 1260px) {
    .nav-header, .admin-left {
        width: calc(100% - 435px);
    }
}
