.admin {
    width: 100%;
}

.admin-content {
    width: calc(100% - 435px);
}

.admin-sidebar {
    width: 435px;
    height: 100vh;
    border-left: 1px solid var(--gray-bg);
}

@media only screen and (min-width: 992px) {
    .admin-sidebar {
        width:435px
    }
}

@media only screen and (min-width: 1260px) {
    .admin-sidebar {
        width:570px
    }
}

.sidebar-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 52px;
    line-height: 52px;
    padding: 0px 0px;
    border-bottom: 1px solid var(--gray-bg);
}

.sidebar-header .title {
    font-size: 14px;
    font-weight: 500;
}

.sidebar-header .link {
    cursor: pointer;
    padding-left: 5px;
    text-decoration:underline;
    color: #8129d9;
}

.sidebar-content {
    width: 100%;
    height: calc(100vh - 52px);
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--gray-bg);
}

.sidebar-content .inner {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.phone {
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.previewWrap {
    width: 352px;
    height: 724px;
    padding: 16px;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: top left;
    transform: scale(0.778551) translateX(-50%) translateY(-50%) translate3d(0px, 0px, 0px);
}

.previewWrap ::after {
    content: "";
    background-image: url(http://127.0.0.1/images/preview-device.svg);
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}
