.admin {
    width: 100%;
}

.need-pc {
    display: none;
}

@media screen and (max-width: 768px) {
    .admin {
        display: none;
    }
    .need-pc {
        display: block;
        text-align: center;
        padding: 20px;
        font-size: 20px;
        font-weight: 600;
    }
}


.admin-header {
    border-bottom: 1px solid rgb(224 226 217 / 1);
}

/* 这里的 .admin-left 表示后台左侧通用宽度 */
/* admin-right 右侧都是435px */

.admin-right {
    width: 435px;
    border-left: 1px solid rgb(224 226 217 / 1);
}

.nav-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.nav-user .title {
    padding-right: 5px;
    font-weight: 400;
}

.nav-user .link {
    color: #8129d9;
    text-decoration: underline;
}

.nav-header, .admin-left {
    width: calc(100% - 435px);
}

.admin-content {
    width: 100%;
}

@media only screen and (min-width: 992px) {
    .nav-header, .admin-left {
        width: calc(100% - 435px);
    }
}

@media only screen and (min-width: 1260px) {
    .admin-right {
        width: 570px;
        border-left: 1px solid rgb(224 226 217 / 1);
    }
    .nav-header, .admin-left {
        width: calc(100% - 570px);
    }
}


.logout-box .login-out {
    cursor: pointer;
    padding: 10px 15px;
    font-size: 15px;
    font-weight: 600;
    color: #676b5f;
}

.logout-box .login-out:hover {
    border-radius: 10px;
    background: var(--gray-bg);
}